@font-face {
  font-family: Lato;
  src: url(assets/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(assets/Lato-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(assets/Lato-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url(assets/Lato-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  height: 95px;
  width: 100%;
  margin: auto;
  background-color: #2d303a;
  color: #fff;

  border-bottom: 6px solid #323746;
  position: fixed;
  z-index: 1;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .container {
  height: 95px;
  max-width: 1020px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
h1 {
  padding-bottom: 8px;
  padding-left: 20px;
  font-size: 26px;
  letter-spacing: -2px;
}
h1 span {
  color: #f06c64;
}
.header-navigation {
  margin-top: 4px;
  margin-right: 18px;
  margin-left: 15px;
}
.navigation {
  display: flex;
  font-size: 12px;
}
.header-navigation-button {
  display: none;
}
.navigation li {
  list-style-type: none;
  padding-right: 1px;
  letter-spacing: 0.15px;
}
.navigation li::after {
  padding-right: 12px;
  padding-left: 12px;
  color: lightgrey;
  content: "·";
}
.navigation li:first-child {
  padding-left: 18px;
}
.navigation a {
  text-decoration: none;
  color: #ffffff;
}
.navigation .active a {
  color: #f06c64;
}
.navigation a:hover {
  color: #f06c64;
  cursor: pointer;
}
.navigation li:last-child::after {
  padding: 0;
  content: "";
}

@media (max-width: 767px) {
  .header {
    height: 71px;
  }
  .header .container {
      justify-content: center;
  }
  h1 {
    padding-bottom: 25px;
    padding-left: 28px;
    font-size: 19px;
    letter-spacing: 0px;    
  }
  h1.active {
    position: relative;
    left: -21%; 
    font-size: 20px;
    letter-spacing: -1px;
    padding-left: 0;
    padding-bottom: 22px;
    z-index: 3;  
  }
  .header-navigation {
    margin-left: 0;
  }
  .header-navigation-button {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    top: 35px;
    border: none;
    cursor: pointer;
    z-index: 200;
    transition-duration: 1s;
  }
  .header-navigation-button::after,
  .header-navigation-button::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 2px;
    background-color: #fff;
    margin-top: -9px;
    transition-duration: 1s;
  }
  .header-navigation-button::after {
    margin-top: 9px;
  } 
  .header-navigation.active {
    position: absolute;
    width: 278px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #2D303A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    box-shadow: 150px 0px 0px calc(100vw - 278px) rgba(0, 0, 0, 0.4);
  }
  .navigation {
    display: none;
    transition-duration: 1s;
  }
  .header-navigation.active>.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    padding: 0px;
    width: 191px;
    height: 468px;
    transition-duration: 1s;
  }
  .navigation li {
    padding-top: 29px;
  }
  .navigation li:first-child {
    padding-left: 0;
  }
  .navigation li::after {
    padding-right: 0;
    padding-left: 0;
    color: lightgrey;
    content: "";
  }
  .navigation a {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.035em;

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 27px;
  }
  .navigation a::after {
    display: none;
  }
  .header-navigation-button.active {
    transform: rotate(90deg);
  }
}

.slider {
  padding-top: 95px;
}
.slider .container {
  background-color: #f06c64;
  max-height: 600px;
  height: 56.3vw;
  overflow: hidden;
  position: relative;

  border-bottom: 6px solid #f06c64;
}
.slider .arrow {
  position: absolute;
  top: 47%;
  cursor: pointer;
}
.arrow.arrow-left {
  left: 4%;
}
.arrow.arrow-right {
  right: 4%;
  transform: rotate(180deg);
}
.slider img {
  position: absolute;
}
.slider .horizontal {
  right: 10.64%;
  top: 28.7%;
  width: 48%;
}
.horizontal-screen {
  background: black;
  width: 33%;
  height: 32%;
  left: 47.4%;
  position: absolute;
  top: 31.3%;
  border-radius: 5px;
  position: absolute;
}
.slider .vertical {
  left: 10.7%;
  top: 8.5%;
  width: 23.9%;
}
.vertical-screen {
  background: black;
  width: 18.5%;
  height: 56.5%;
  left: 12.2%;
  position: absolute;
  top: 19.5%;
  border-radius: 5px;
}
.hidden {
  display: none;
}
.carousel {
  left: 0%;
  width: 100%;
}
.item {
  display: none;
  animation: 2s ease-in-out;
}
.item.first {
  background-color: #f06c64;
  z-index: 4;
  height: 100%; 
}
.item.active {
  display: block;
}
.item.next {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}
.to-left {
  animation-name: left;
}
.from-right {
  animation-name: right;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 1019px) and (min-width: 768px) {
  .slider .container {
    height: 58.3vw;
  }
}

@media (max-width: 767px) {
  .slider {
    padding-top: 71px;
  }
  .slider .container {
    height: 58.7vw;
  }
  .arrow.arrow-right {
    right: 3%;
    transform: rotate(180deg);
  }
  .arrow.arrow-left {
    left: 3%;
  }
  .slider .arrow {
      top: 45%;
  }
}

.services .container {
  height: 500px;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-left: 39px;

  border-bottom: 6px solid #ffffff;
}
.services h2 {
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.2px;
}
.services-description {
  font-size: 18px;
  font-family: LatoThin, sans-serif;
  color: #767e9e;
  line-height: 30px;
  word-spacing: -3.5px;
  margin-top: 19px;
  margin-bottom: 42px;
  text-align: justify;
  letter-spacing: -0.01px;
}
.services .services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.services-element {
  display: flex;
  align-items: flex-start;
  max-width: 33%;
  color: #666d89;
  margin-bottom: 28px;
  margin-right: 3px;
}
.services-element img {
  width: 20%;
  padding-top: 2px;
}
.services-element-text {
  margin-left: 18px;
  margin-right: 18px;
}
.services-element-text h3 {
  font-size: 18px;
  letter-spacing: -0.2px;
  word-spacing: -0.5px;
  margin-bottom: 7px;
}
.services-element-text p {
  color: #767e9e;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  max-height: 66px;

  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1019px) and (min-width: 768px) {
  .services .container {
    padding-top: 46px;
    height: 679px;
  }
  .services-description {
    margin-bottom: 32px;
    padding-right: 36px;
  }
  .services-element {
    max-width: 49.5%;
    margin-bottom: 49px; 
    height: 95px;   
  }
  .services-element img {
    width: 26%;
  }
  .services-element-text {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .services .container {
    padding-top: 26px;
    padding-left: 33px;
    height: 1033px;
  }
  .services-description {
    margin-bottom: 25px;
  }
  .services-element {
    max-width: 100%;
    margin-bottom: 25px;
  }
}

.portfolio .container {
  height: 868px;
  padding: 33px 40px 40px 40px;
  background-color: #2d303a;
  color: #666d89;

  border-bottom: 6px solid #323746;
}
.portfolio h2 {
  padding-top: 25px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.3px;
}
.portfolio-description {
  margin-bottom: 14px;
  padding-top: 23px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.21px;
}
.portfolio-buttons button {
  font-size: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin-right: 6px;
  padding: 2.5px 6.2px;
  color: inherit;
  border: 1px solid #666d89;
  background-color: transparent;
  border-radius: 4px;
}
.portfolio-buttons button:hover {
  cursor: pointer;
  background-color: #323746;
  color: white;
}
.portfolio-buttons .active-button {
  color: white;
  border-color: white;
}
.images {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 621px;
}
.images div {
  width: 220px;
  height: 187px;
  margin-top: 20px;
  margin-right: 20px;
}
.images div:nth-child(4n) {
  margin-right: 0;
}
.images div:nth-child(1n+13) {
  display: none;
}
.images .active-img {
  border: #F06C64;
  border-style: solid;
  border-width: 5px;
  width: 100%;
}

@media (max-width: 1019px) and (min-width: 768px) {
  .portfolio .container {
    height: 1102px;
  }
  .portfolio-description {
    padding-right: 22px;
    margin-bottom: 21px;
  }
  .images {
    padding-top: 10px;
    height: 824px;
    width: 689px;
  }
  .images .portfolio-image-container {
    width: 31.3%;
    margin-top: 17px;
    margin-right: 20px;
  }
  .images .portfolio-image-container:nth-child(4n) {
    margin-right: 20px;
  }
  .images .portfolio-image-container:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .portfolio .container {
    height: 843px;
    padding: 16px 30px 40px 30px;
  }
  .portfolio-description {
    margin-bottom: 17px;
    padding-top: 18px;
    line-height: 1.7;
  }
  .images {
    padding-top: 10px;
    height: 577px;
    width: 332px;
  }
  .images div.portfolio-image-container {
    width: 46%;
    height: auto;
    margin-top: 13px;
    margin-right: 10px;
  }
  .images .portfolio-image {
    width: 98%;
    height: 98%;
    margin-top: 0;
    margin-right: 0;
  }
  .images img:nth-child(4n) {
    margin-right: 0;
  }
  .images img:nth-child(2n) {
    margin-right: 0;
  }
  .images img:nth-child(1n+9) {
    display: none;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  .images {
    height: 500px;
    width: 272px;
  }
}

.about-us .container {
  height: 735px;
  padding: 29px 40px 40px 40px;
  background-color: #f2f2f2;
  color: #666d89;

  border-bottom: 6px solid #f2f2f2;
}
.about-us h2 {
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  padding-top: 32px;
}
.about-us-description {
  font-size: 18px;
  font-family: LatoThin, sans-serif;
  text-align: justify;
  color: #767e9e;
  line-height: 30px;
  word-spacing: -2.5px;
  margin-top: 18px;
  margin-bottom: 43px;
}
.about-us .about-us-container {
  display: flex;
  justify-content: space-between;
}
.about-us-element {
  max-width: 32%;
  color: #666d89;
}
.about-us-element>img {
  width: 100%;
}
.about-us-element-text {
  padding-top: 13px;
}
.about-us-element-text h3 {
  font-size: 18px;
  font-weight: 900;
  word-spacing: 2px;
  margin-bottom: 6px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.about-us-element-text p {
  color: #767e9e;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  max-height: 128px;
}
.about-us-social-icons {
  padding-top: 23px;
}
.about-us-social-icons img{
  margin-right: 4px;
}
.about-us-social-icons img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1019px) and (min-width: 768px) {
  .about-us .container {
    height: 667px;
  }
  .about-us h2 {
    padding-top: 20px;
  }
  .about-us-description {
    padding-right: 16px;
    margin-bottom: 39px;
  }
  .about-us-element-text {
    padding-top: 6px;
  }
  .about-us-element-text h3 {
    margin-bottom: 0;
  }
  .about-us-social-icons {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .about-us .container {
    padding-top: 2px;
    padding-left: 30px;
    padding-right: 30px;
    height: 1755px;
  }
  .about-us-description {
    margin-bottom: 25px;
  }
  .about-us .about-us-container {
    flex-direction: column;
  }
  .about-us-element {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .about-us-element-text h3 {
    margin-bottom: 0;
  }
  .about-us-social-icons {
    padding-top: 11px;
  }
}

.quote .container {
  height: 654px;
  padding: 35px 40px 40px 40px;
  background-color: #f06c64;
  color: #f0d8d9;

  border-bottom: 6px solid #ea676b;
}
.quote h2 {
  padding-top: 25px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.3px;
}
.quote-description {
  margin-bottom: 14px;
  padding-top: 17px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.17px;
  line-height: 1.7em;
  text-align: justify;
}
.contacts {
  display: flex;
  justify-content: space-between;

  background-color: #f06c64;
}
.contacts-form {
  max-width: 618px;
  padding-top: 30px;
}
.contacts-form-field {
  width: 100%;
  border: none;
  padding: 10px 14px 12px;
  border-radius: 5px;
  background-color: #d6564f;
  margin-bottom: 16px;
}
.contacts-form-field::placeholder {
  font-family: Lato;
  font-weight: 200;
  line-height: 2.0rem;
  color: #f48c8f;
}
input:invalid:not(:placeholder-shown) {
  background-color: orange;
}
.contacts-form-textarea {
  height: 202px;
  letter-spacing: -0.3px;
  padding: 2px 14px 13px;
}
.contacts-information {
  max-width: 301px;
  color: #f0d8d9;
  padding-top: 28px;
}
.contacts-information h4 {
  font-size: 19px;
  font-weight: 900;
  letter-spacing: -0.3px;
}
.contacts-information-description {
  margin-bottom: 18px;
  padding-top: 9px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.14px;
  line-height: 1.8em;  
  text-align: justify;
}
.contacts-information-links {
  padding-top: 2px;	
}
.contacts-information-links a {
  display: inherit;
  margin: 1px;
  padding-top: 5px;
  text-decoration: none;
  color: #f0d8d9;
  font-size: 13px;
}
.contacts-information-links a:hover {
  text-decoration: underline;
  color: white;
}
.contacts-information-links-location img {
  width: 20px;
  height: 11px;
  padding-left: 2px;
  padding-right: 8px;
}
.contacts-information-links-phone img {
  width: 20px;
  height: 11px;
  padding-left: 2px;
  padding-top: 0.5px;
  padding-right: 8px;
}
.contacts-information-links-mail img {
  width: 20px;
  height: 13px;
  margin-top: 1px;
  padding-left: 1px;
  padding-right: 7px;
}
.contacts-information-links-location span {
  letter-spacing: -0.61px;
  padding-left: 3px;
}
.contacts-information-links-phone span {
  letter-spacing: -0.64px;
  padding-left: 2px;
}
.contacts-information-links-mail span {
  position: relative;
  top: -3px;
  letter-spacing: -0.54px;
  padding-left: 2px;
}
.contacts-form-button {
  cursor: pointer;
  height: 22px;
  width: 100px;
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-radius: 7px;
  border-color: #fff;
  background-color: #d6564f;
  color: #fff;
  text-align: center;
}

@media (max-width: 1019px) and (min-width: 768px) {
  .quote .container {
    height: 631px;
    padding-top: 30px;
    padding-right: 35px;
  }
  .quote-description {
    padding-right: 15px;
  }
  .contacts-form {
    max-width: 533px;
    padding-top: 10px;
  }
  .contacts-form-field {
    margin-bottom: 13px;
  }
  .contacts-form-textarea {
    height: 157px;
  }
  .contacts-form-button {
    height: 38px;
    width: 135px;
    background-color: #FBC65F;
  }
  .contacts-information {
    padding-top: 8px;
    padding-left: 30px;
  }
  .contacts-information-description {
    margin-bottom: 32px;
    padding-top: 0px;
  }
}

@media (max-width: 767px) {
  .quote .container {
    height: 969px;
    padding: 19px 30px 40px 30px;
  }
  .contacts {
    flex-direction: column;
  }
  .contacts-form {
    padding-top: 9px;
  }
  .contacts-form-field {
    margin-bottom: 12px;
  }
  .contacts-form-textarea {
    height: 159px;
  }
  .contacts-form-button {
    height: 50px;
    width: 100%;
    background-color: #FBC65F;
    text-transform: uppercase;
  }
  .contacts-information-description {
    margin-bottom: 7px;
    padding-top: 3px;
  }
  .contacts-information-links a {
    padding-top: 8px;
}
}

.footer .container {
  height: 82px;
  padding: 37px 39px 40px 40px;
  background-color: #2d303a;
  color: #f0d8d9;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-description {
  font-size: 12px;
  font-weight: 400;
  color: #666d89;
}
.footer-social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 155px;
}
.footer-social-icons img:hover{
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .footer .container {
    padding-right: 30px;
    padding-left: 35px;
  }
  .footer-description {
    display: none;
  }
  .footer-social-icons {
    margin-top: 0;
    width: 100%;
    justify-content: center;
  }
  .footer-social-icons > a {
    padding-right: 8px;
  }
}

.popup-cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.3;  
}
.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  background-color: white;
  width: 300px;
  height: 150px;
  padding: 10px;
}
.popup-message p {
  padding-top: 5px;
}